@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: terminal-grotesque;
  src: url(/fonts/terminal-grotesque-webfont.woff2) format("woff2");
  src: url(/fonts/terminal-grotesque-webfont.woff) format("woff");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--background);

  --text: #e7ecf1;
  --secondary: #3d3d3d;
  --background: #131411;
  --accent: #0f0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--text);
  color: var(--background);
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #000;
    --secondary: #a3a3a3;
    --background: #fff;
  }
}
